@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #F5F4EF;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0.5;
  cursor: pointer;
}
